NODE_ENV='development'

APPLICATION_PORT='4000'
APPLICATION_URL='http://localhost:${APPLICATION_PORT}'
GRAPHQL_PREFIX='/graphql'
ALLOWED_ORIGIN='http://localhost:3000'

POSTGRES_USER='root'
POSTGRES_PASSWORD='12345678'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5433'
POSTGRES_DB='safeswap'
POSTGRES_URI='postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}'
